.customer-coding {
  padding: 20px;
}

.customer-coding h2 {
  color: #dcd1d1;
  font-size: 40px;
  margin: 15px 0;
}

.customer-coding form {
  max-width: 1000px; /* Increase width to allow for more space */
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: whitesmoke;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap; /* Allow inputs to wrap onto new lines */
}

.customer-coding form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin: 10px;
  flex: 1 1 34%; /* Make each form group take up around 48% of the container width */
  margin-right: 25px;
}

.customer-coding form label {
  font-size: 21px;
  display: flex;
  align-items: right; /* Align items center for better vertical alignment */
  margin-bottom: 8px;
  font-weight: bold;
  justify-content: right;
  text-align: right; /* Align text to the left */
  color: #fff;
  color: black;
  color: rgb(78, 77, 77);

}

.customer-coding form input,
.customer-coding form select,
.customer-coding form textarea {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 16px;
}
.customer-coding form input[type="file"]{
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: right;
  text-align: right ;
  border: none;
}
.customer-coding form button {
  padding: 7px 20px;
  background-color: #033f7f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  display: block;
  width: 100px;
}

.customer-coding form button:hover {
  background-color: #032f5f;
}

.customer-coding .submit-bttn {
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.customer-coding .icon-color {
  color: rgb(169, 161, 161); /* Blue color */
  padding-left: 8px;
color: rgb(78, 77, 77);
}


 /* Modal Overlay */
 .modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background for better contrast */
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s; /* Smooth fade-in animation */
}

/* Modal Content */
.modal-content {
  background-color: #f9f9f9; /* Off-white background */
  margin: auto;
  padding: 20px;
  border: none;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Add box shadow */
  position: relative;
  animation: slideIn 0.4s; /* Slide-in animation */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-50px); }
  to { transform: translateY(0); }
}

/* Close Button */
.close {
  color: #000;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.2s;
}

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
}

/* Modal Text */
.modal p {
  font-size: 30px;
  color: #333; /* Dark color for text */
  margin-top: 15px;
  font-weight: bold;
}

/* Modal Icon */
.modal-success-icon {
  font-size: 55px;
  color: #4CAF50; /* Green color for success icon */
  margin-bottom: 5px;
}

/* Error Icon */
.modal-error-icon {
  color: #FF0000; /* Red color for error icon */
  margin-bottom: 5px;
  font-size: 55px;

}

/* Spinner Overlay */
.spinner-overlay {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}